<!DOCTYPE html>
<html>
  <head>
    <title>Rohit Sai</title>

<link rel="icon" href="http://rohitsai.com.np/favicon.png" type="image/png">

    <link href="http://rohitsai.com.np/css/bootstrap.css" rel="stylesheet" type="text/css">
  <link href="http://rohitsai.com.np/css/style.css" rel="stylesheet" type="text/css">
  <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,800italic,700italic,600italic,400italic,300italic,800,700,600' rel='stylesheet' type='text/css'>


  <link href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" rel="stylesheet" type="text/css">
  <link href="http://rohitsai.com.np/css/responsive.css" rel="stylesheet" type="text/css">
  <link href="http://rohitsai.com.np/css/magnific-popup.css" rel="stylesheet" type="text/css">
  <link href="http://rohitsai.com.np/css/animate.css" rel="stylesheet" type="text/css">

<link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">

  <script type="text/javascript" src="http://rohitsai.com.np/js/jquery.1.8.3.min.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/bootstrap.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/jquery-scrolltofixed.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/jquery.easing.1.3.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/jquery.isotope.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/wow.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/classie.js"></script>
  <script type="text/javascript" src="http://rohitsai.com.np/js/magnific-popup.js"></script>
  <script src="http://rohitsai.com.np/contactform/contactform.js"></script>



  </head>
  <body>
    <%= render 'layouts/header' %>

    <section class="main-section alabaster" id="about">
    <!--main-section alabaster-start-->
    <div class="container">
      <div class="row">
        <figure class="col-lg-5 col-sm-4 wow fadeInLeft">
          <img src="http://rohitsai.com.np/img/iphone.png" alt="">
        </figure>
        <div class="col-lg-7 col-sm-8 featured-work">
          <h2>ABOUT</h2>
          <P class="padding-b">Hi. I am Rohit Sai. I am the tech lover and tech student having 
          equal passion in music, photography, travelling and making video contents. I can make beautiful websites, logos and also take good photos for your events. I believe making business better with the use of technology. So, I am working as a IT MANAGER for CMG CLUB CASINO to handle everything about Information Technology. I am currently available for freelancing different designing related works, crafting websites and video content creation. </P>

          <p>
            Some of the past works that I had done can be read below:
            <ul>
              <li>STUDENT COUNSELOR/ PUBLIC RELATION OFFICIER – NOBEL ACADEMY </li>
              <li>IT REPRESENTATIVE – WORLD WITHOUT BORDERS</li>
              <li>MEDIA MANAGER – EVENT & SPORTS CLUB OF SOFTWARICA</li>
              <li>FRONTEND DEVELOPER / PHOTOGRAPHER/ CINEMATOGRAPHER – HONEYGUIDE</li>
              <li>GRAPHIC DESIGNER/ PHOTOGRAPHER / CO-FOUNDER – FLAPPY CART ONLINE SHOPPING</li>
              <li>TEAM CO-ORDINATOR – I 2 WE (SOCIAL CAUSE DURING EARTHQUAKE IN NEPAL 2015)</li>
            </ul>

          </p>
          
          </div>
          <a class="Learn-More" href="#">Learn More</a>
        </div>
      </div>
    </div>
  </section>
  <!--main-section alabaster-end-->

  <section class="main-section" id="service">
    <!--main-section-start-->
    <div class="container">
      <h2>Services</h2>
      <h6>The Services that I can Provide.</h6>
      <div class="row">
        <div class="col-lg-4 col-sm-6 wow fadeInLeft delay-05s">
          <div class="service-list">
            <div class="service-list-col1">
              <i class="fa fa-dashboard"></i>
            </div>
            <div class="service-list-col2">
              <h3>branding &amp; identity / Logo Design</h3>
              <p>I can craft beautiful logos and different other designs to brand your company to reach new height.</p>
            </div>
          </div>
          <div class="service-list">
            <div class="service-list-col1">
              <i class="fa fa-globe"></i>
            </div>
            <div class="service-list-col2">
              <h3>web development</h3>
              <p>I can design and develop the websites as per your requirements.</p>
            </div>
          </div>
          <div class="service-list">
            <div class="service-list-col1">
              <i class="fa fa-pencil"></i>
            </div>
            <div class="service-list-col2">
              <h3>Graphic Design / Content Craft</h3>
              <p>I can design different graphics required for different purposes and also craft beautiful content and videos.</p>
            </div>
          </div>

          <div class="service-list">
            <div class="service-list-col1">
              <i class="fa fa-camera"></i>
            </div>
            <div class="service-list-col2">
              <h3>Photography</h3>
              <p>I can capture beautiful memories for your events or your portfolio or business.</p>
            </div>
          </div>
        </div>

        <figure class="col-lg-8 col-sm-6  text-right wow fadeInUp delay-02s">
          <img src="http://rohitsai.com.np/img/work.jpg" alt="">
        </figure>

      </div>
    </div>
  </section>
  <!--main-section-end-->



  <section class="main-section paddind" id="Portfolio">
    <!--main-section-start-->
    <div class="container">
      <h2>Portfolio</h2>
      <h6>Some of my works.</h6>
      <div class="portfolioFilter">
        <ul class="Portfolio-nav wow fadeIn delay-02s">
          <li><a href="#" data-filter="*" class="current">All</a></li>
          <li><a href="#" data-filter=".logo">Logo</a></li>
          <li><a href="#" data-filter=".website">Websites</a></li>
          <li><a href="#" data-filter=".video">Videos</a></li>
          <li><a href="#" data-filter=".photography">Photography</a></li>
        </ul>
      </div>

    </div>
    <div class="portfolioContainer wow fadeInUp delay-04s">
      <div class=" Portfolio-box website">
        <a href="http://rohitsai.com.np/img/2ar-website.jpg"><img src="http://rohitsai.com.np/img/2ar-website.jpg" alt="img/2ar-website.jpg"></a>
        <h3>2AR Photography</h3>
        <p>Website</p>
        <p> The online photography booking platform developed for 2AR Photography through which you can book different photography services. This system uses core PHP Object Oriented Programming. <b>Link: http://2arphotography.000webhostapp.com/ </b></p>
      </div>

      <div class="Portfolio-box website">
        <a href="http://rohitsai.com.np/img/2wheelers-website.jpg"><img src="http://rohitsai.com.np/img/2wheelers-website.jpg" alt=""></a>
        <h3>2 Wheelers Servicing Management</h3>
        <p>Website</p>
        <p> The two wheelers servicing management through web. This system uses core PHP Object Oriented Programming with JSON, XML datas and SQL database. <b>Link: http://rohitsaiaid.000webhostapp.com/ </b></p>
      </div>
      <div class=" Portfolio-box website">
        <a href="http://rohitsai.com.np/img/cmg-website.jpg"><img src="http://rohitsai.com.np/img/cmg-website.jpg" alt=""></a>
        <h3>CMG Club Casino</h3>
        <p>Website</p>
        <p> This is the static website for the CMG Club Casino, Soalteemode. In which the information and Photos of the Casino is showcased. This is developed using Bootstrap. <b> Link: www.cmgclubs.com </b>
        </p>
      </div>
      <div class=" Portfolio-box website">
        <a href="http://rohitsai.com.np/img/egig-website.jpg"><img src="http://rohitsai.com.np/img/egig-website.jpg" alt=""></a>
        <h3>E-GIG NEPAL</h3>
        <p>Website</p>
        <p> This is the gig search web application to promote Nepali Music Artists. The information about the gigs happening are showcased. This is developed using core PHP. <b> Link: e-gig-nepal.000webhostapp.com </b>
      </div>
      <div class=" Portfolio-box website">
        <a href="http://rohitsai.com.np/img/futsal-website.jpg"><img src="http://rohitsai.com.np/img/futsal-website.jpg" alt=""></a>
        <h3>Unlimited Futsal</h3>
        <p>Website</p>
        <p> This is the futsal booking web platform for the futsal players. You can book the futsal using this site. This is developed using object oriented PHP (MVC Design). <b> Link: unlimitedfutsal.000webhostapp.com </b>
      </div>
      <div class=" Portfolio-box logo">
        <a href="http://rohitsai.com.np/img/fashion.jpg"><img src="http://rohitsai.com.np/img/fashion.jpg" alt=""></a>
        <h3>Fashion Feet</h3>
        <p>Logo</p>
        <p> This is the logo branding of the Fashion Feet, the footwear shop at People's Plaza Kathmandu.  </p>
      </div>
      <div class=" Portfolio-box logo">
        <a href="http://rohitsai.com.np/img/game.jpg"><img src="http://rohitsai.com.np/img/game.jpg" alt=""></a>
        <h3>Zero Fifteen Game House</h3>
        <p>Logo</p>
        <p> This is the logo branding of the Zero Fifteen Game House, the game house at Kathmandu Mall, Kathmandu.  </p>
      </div>
      <div class=" Portfolio-box logo">
        <a href="http://rohitsai.com.np/img/ghumto.jpg"><img src="http://rohitsai.com.np/img/ghumto.jpg" alt=""></a>
        <h3>Ghumto Japan Boutique</h3>
        <p>Logo</p>
        <p> This is the logo branding of the Ghumto Japan Boutique, the boutique of Nepali at Japan, Fukuoka.  </p>
      </div>
      
      <div class=" Portfolio-box logo">
        <a href="http://rohitsai.com.np/img/virgo.jpg"><img src="http://rohitsai.com.np/img/virgo.jpg" alt=""></a>
        <h3>Virgo Boutique</h3>
        <p>Logo</p>
        <p> This is the logo branding of the Virgo Boutique, the boutique shop at Kupondole, Lalitpur.  </p>
      </div>

      <div class=" Portfolio-box photography">
        <a href="http://rohitsai.com.np/img/photo1.jpg"><img src="http://rohitsai.com.np/img/photo1.jpg" alt=""></a>
        <h3>View From Nagarkot</h3>
        <p>Photography</p>
        <p> The panaromic view of mountain from Club Himalaya, Nagarkot.   </p>
      </div>

      <div class=" Portfolio-box photography">
        <a href="http://rohitsai.com.np/img/photo2.jpg"><img src="http://rohitsai.com.np/img/photo2.jpg" alt=""></a>
        <h3>DJ Shoot For Event</h3>
        <p>Photography</p>
        <p> The shoot of DJ's for the event, The Battle of the DJ's. </p>
      </div>

      <div class=" Portfolio-box photography">
        <a href="http://rohitsai.com.np/img/photo3.jpg"><img src="http://rohitsai.com.np/img/photo3.jpg" alt=""></a>
        <h3>Gaijatra</h3>
        <p>Photography</p>
        <p> The glimpse of Gaijatra Festival at Basantapur, Kathmandu.  </p>
      </div>

      <div class=" Portfolio-box video">
        <iframe src="https://www.youtube.com/embed/Zy8UjxEjFMc" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Silence Festival VLOG</h3>
        <p>Video</p>
        <p> This is my first vlog ever about the largest metal festival of the country SILENCE FESTIVAL.  </p>
      </div>

      <div class=" Portfolio-box video">
        <iframe src="https://www.youtube.com/embed/m0AheMqDyq8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Club Refreshment Program Tistung</h3>
        <p>Video</p>
        <p> The short video of Club Refreshment program from Events and Sports Club of Softwarica.  </p>
      </div>

      <div class=" Portfolio-box video">
        <iframe src="https://www.youtube.com/embed/B4F75ixV-sI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
        <h3>Boudhanath 1 Minute Video</h3>
        <p>Video</p>
        <p> The very short 1 minute length video of boudhanath.  </p>
      </div>
  
    </div>
  </section>
  <!--main-section-end-->


  
    <!--main-section client-part-start-->
    <div class="container">
      <h2>Blog</h2>
      <h6>No Blogs for Now.</h6>
      
    </div>

  
  


  



  <section class="business-talking">
    <!--business-talking-start-->
    <div class="container">
      <h2>Let’s Talk Business.</h2>
    </div>
  </section>
  <!--business-talking-end-->
  <div class="container">
    <section class="main-section contact" id="contact">

      <div class="row">
        <div class="col-lg-6 col-sm-7 wow fadeInLeft">
          <div class="contact-info-box address clearfix">
            <h3><i class=" icon-map-marker"></i>Address:</h3>
            <span>Maitidevi, Kathmandu<br>Nepal.</span>
          </div>
          <div class="contact-info-box phone clearfix">
            <h3><i class="fa fa-phone"></i>Phone:</h3>
            <span>+977-9813816712</span>
          </div>
          <div class="contact-info-box email clearfix">
            <h3><i class="fa fa-pencil"></i>email:</h3>
            <span>websrohit@gmail.com</span>
          </div>
          <div class="contact-info-box hours clearfix">
            <h3><i class="fa fa-clock-o"></i>Hours:</h3>
            <span><strong>Monday - Friday:</strong> 10am - 6pm<br><strong>Saturday - Sunday:</strong> Best communicating at Social Medias.</span>
          </div>
          <ul class="social-link">
            <li class="pinterest"><a href="https://www.instagram.com/rohit_metalhead/"><i class="fa fa-instagram"></i></a></li>
            <li class="facebook"><a href="https://www.facebook.com/rohit.sai3"><i class="fa fa-facebook"></i></a></li>
            <li class="pinterest"><a href="https://www.pinterest.com/mommysmetalhead/"><i class="fa fa-pinterest"></i></a></li>
            <li class="gplus"><a href="https://plus.google.com/+RohitSaiYOUTUBE"><i class="fa fa-google-plus"></i></a></li>
            <li class="facebook"><a href="https://www.linkedin.com/in/rohitsai/"><i class="fa fa-linkedin"></i></a></li>
          </ul>
        </div>
        <div class="col-lg-6 col-sm-5 wow fadeInUp delay-05s">
          <div class="form">

            <form action="mail.php" method="post">
              <div class="form-group">
                <input type="text" name="name" class="form-control input-text" id="name" placeholder="Your Name">
              </div>
              <div class="form-group">
                <input type="email" class="form-control input-text" name="email" id="email" placeholder="Your Email">
              </div>
              <div class="form-group">
                <input type="text" class="form-control input-text" name="subject" id="subject" placeholder="Subject">
              </div>
              <div class="form-group">
                <textarea class="form-control input-text text-area" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validation"></div>
              </div>

              <input type="submit" name="send" value="Send"></input>
            </form>
          </div>
        </div>
      </div>
    </section>
  </div>

    
  <!--header-end-->

      <%= yield %>
      <%= render 'layouts/footer' %>
    </div>


    <script type="text/javascript">
    $(document).ready(function(e) {

      $('#test').scrollToFixed();
      $('.res-nav_click').click(function() {
        $('.main-nav').slideToggle();
        return false

      });

      $('.Portfolio-box').magnificPopup({
        delegate: 'a',
        type: 'image'
      });

    });
  </script>

  <script>
    wow = new WOW({
      animateClass: 'animated',
      offset: 100
    });
    wow.init();
  </script>


  <script type="text/javascript">
    $(window).load(function() {

      $('.main-nav li a, .servicelink').bind('click', function(event) {
        var $anchor = $(this);

        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top - 102
        }, 1500, 'easeInOutExpo');
        /*
        if you don't want to use the easing effects:
        $('html, body').stop().animate({
          scrollTop: $($anchor.attr('href')).offset().top
        }, 1000);
        */
        if ($(window).width() < 768) {
          $('.main-nav').hide();
        }
        event.preventDefault();
      });
    })
  </script>

  <script type="text/javascript">
    $(window).load(function() {


      var $container = $('.portfolioContainer'),
        $body = $('body'),
        colW = 375,
        columns = null;


      $container.isotope({
        // disable window resizing
        resizable: true,
        masonry: {
          columnWidth: colW
        }
      });

      $(window).smartresize(function() {
        // check if columns has changed
        var currentColumns = Math.floor(($body.width() - 30) / colW);
        if (currentColumns !== columns) {
          // set new column count
          columns = currentColumns;
          // apply width to container manually, then trigger relayout
          $container.width(columns * colW)
            .isotope('reLayout');
        }

      }).smartresize(); // trigger resize to set container width
      $('.portfolioFilter a').click(function() {
        $('.portfolioFilter .current').removeClass('current');
        $(this).addClass('current');

        var selector = $(this).attr('data-filter');
        $container.isotope({

          filter: selector,
        });
        return false;
      });

    });
  </script>


  </body>
</html>